header {
	text-align: left;
	padding-top: 30px;
	padding-bottom: 0;
}

div#project img {
	width: 100%;
	max-width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
	box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
}