header {
	text-align: center;
	padding: 30px 0;
	background-color: #473C8B;
	box-shadow: 0px 0px 2px;
}

header h1 {
	color: #f1f1f1;
}

header h2 {
	color: rgba(240, 240, 252, 0.6);
}

h3 {
	color: rgba(59, 72, 102, 0.55);
	margin-bottom: 17px;
	font-weight: 700;
	font-family: 'Josefin Sans', 'Gill Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

a.back-btn {
	position: relative;
	top: -3px;
	color: #f1f1f1;
	text-align: center;
	padding: 2px 10px;
	border: 1px solid #f1f1f1;
	z-index: 10;
	font-size: 1.3em;
}

a.back-btn:hover {
	background-color: #f1f1f1;
	border-color: #f1f1f1;
	color: #3B4866;
}

div#project img {
	width: 100%;
	max-width: 100%;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
	-moz-box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
	box-shadow: 2px 2px 5px 1px rgba(175,175,175,0.75);
}

p#task {
	font-family: 'Josefin Sans', 'Gill Sans', sans-serif;
}