@import url('https://fonts.googleapis.com/css?family=Lato:400,300,200,500');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600&display=swap');

/*
 *
 * General Styling
 *
 */

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
	font-family: 'Lato', Helvetica-Neue, Helvetica, sans-serif;
	color: #333;
}

h1 {
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: 600;
	font-size: 2.75em;
	letter-spacing: 0.01em;
	margin: 0.25em auto;
}

h2 {
	color: #777;
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	line-height: 1.25em;
}

h3 {
	color: #777;
	font-size: 1.25em;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0.01em;
}

h4 {
	color: #777;
	font-size: 1.25em;
	font-weight: 200;
	letter-spacing: 0.01em;
}

h5,
h6 {
	font-weight: 300;
}


body {
	width: 85%;
	height: 100%;
    margin: 3em auto 2em auto;
    font-weight: 200;
}

p {
	line-height: 1.6em;
	color: #333;
}

/*
 * General Link Styling
 */
a {
	color: #d8518b;
}

a:visited {
	color: #d8518b;
}

a:hover,
a:active {
	color: #53d69e; /*green*/
	text-decoration: none;
}

a:focus {
	color: #33b67e;
	text-decoration: none;
}

img.icon {
	width: 15px;
	color: pink;
}

hr {
	width: 10px;
	border-color: #ccc;
}


nav {
	padding: 1.5em 2em;
	box-shadow: 0 1px 1px 0 rgb(230, 230, 230);
	background-color: #f8f8f8;
	
	/* To fix the nav bar to the top*/
	position: fixed;
	top: 0;
	right: 0;
 	left: 0;
 	z-index: 999;
 	text-align: center;
}

nav a {
	margin-right: 1.5em;
}

footer {
	text-align: center;
}

.container {
	position: relative;
	top: 2em;
}

.row {
	margin: 0;
}

.spacer-sm {
	display: block;
	width: 100%;
	height: 0.75em;
}

.spacer-med {
	display: block;
	width: 100%;
	height: 3em;
}





/*
 *
 * Page Specific Styling
 *
 */

/* Work Page */
#designer-bio {
	text-align: center;
	padding-top: 4em;
	padding-bottom: 1.5em;
}

#designer-bio p {
	font-size: 1.25em;
}

#design-projects {
	text-align: center;
}

section#design-projects a {
	color: #d8518b;
}

div.project-block {
	display: block;
	padding: 55px 40px;
	border: solid;
	border-width: 2em;
	border-color: #91e5c1; /* green */
	margin-bottom: 2em;
	background-color: #ffffff;
}
div.project-block:hover {
	border-color: #d8518b;
	background-color: #f9e4ed;

}

div.project-block div.project-title {
	vertical-align: middle;
}



/* Resume Page */
div#resume-content {
	text-align: left;
}



/*
 *
 * Media Queries for Responsiveness
 *
 */

@media screen and (min-width: 600px) {
	body {
		width: 70%;
	}
	.project-block {
		padding: 75px 10px;
	}

}

@media screen and (min-width: 900px) {
	body {
		width: 50%;
	}
	div.project-block {
		padding: 75px 30px;
	}
}

@media screen and (min-width: 1300px) {
	h1 {
		font-size: 3.5em;
	}
	section#designer-bio p {
		font-size: 1.5em;
	}
	div.project-block {
		padding: 125px 30px;
	}
}
