/* --------- BODY ---------- */
html {
	font-size: 100%;
}
body {
	margin: 0;
	padding: 0;

	/* Font smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
	font-weight: 300;
	color: #4a4a4a;
	line-height: 1.5em;
	font-size: 1em;
	background-color: #92CCA6;
}

h1 {
	font-size: 2.7em;
	font-family: 'Pacifico', Brush Script MT, cursive;
}
h2 {
	font-size: 1.8em;
	font-family: 'Pacifico', Brush Script MT, cursive;
}
h3 {
	font-size: 1.25em;
}
h5 {
	color: #efefef;
}
p {
	font-size: 0.9em;
}
mark {
	background-color: #FFDDAA;
}


/* --------- LINKS ---------- */
a {
	-webkit-transition: all linear .15s;
    -moz-transition: all linear .15s;
    transition: all linear .15s;
}
a:hover {
	cursor: pointer;
}
a:hover, a:focus {
    /*color: #f7f7f7;*/
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
}



/* Envelope on home page */
#enter-btn {
	position: absolute;
	top: 45%;
	display: block;
	width: 100%;
	cursor: pointer;
}
p#enter-text:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
p#enter-text {
	font-size: 2em;
	font-family: 'Pacifico', cursive;
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	/*border: 2px solid #f3f3f3;
	background-color: indianred;*/
	color: #e7e7e7;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
div#envelope {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99;
}
div#flap {
	position: absolute;
	background: url(images/envelope/topflap.png) no-repeat center bottom;
	width: 100%;
	height: 100%;
}

.flipUp {
	-webkit-animation: flipUp 1.2s linear 1 normal;
	-moz-animation: flipUp 1.2s linear 1 normal;
	-o-animation: flipUp 1.2s linear 1 normal;
	animation: flipUp 1.2s linear 1 normal;

	-webkit-transform-origin: 100% 0;
	-moz-transform-origins: 100% 0;
	-o-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes flipUp {
    0%   {-webkit-transform: rotateX(0deg);}
    25%  {-webkit-transform: skew(5deg) rotateX(30deg);}
    50%  {-webkit-transform: skew(10deg) rotateX(60deg);}
    75%  {-webkit-transform: skew(15deg) rotateX(90deg);}
    100% {-webkit-transform: skew(20deg) rotateX(120deg);}
}

@-moz-keyframes flipUp {
    0%   {-moz-transform: rotateX(0deg);}
    25%  {-moz-transform: skew(5deg) rotateX(30deg);}
    50%  {-moz-transform: skew(10deg) rotateX(60deg);}
    75%  {-moz-transform: skew(15deg) rotateX(90deg);}
    100% {-moz-transform: skew(20deg) rotateX(120deg);}
} 

@keyframes flipUp {
    0%   {transform: rotateX(0deg);}
    25%  {transform: skew(5deg) rotateX(30deg);}
    50%  {transform: skew(10deg) rotateX(60deg);}
    75%  {transform: skew(15deg) rotateX(90deg);}
    100% {transform: skew(20deg) rotateX(120deg);}
}


/* --------- Figure ----------- */
figure {
	margin: 5px;
}


/* Vertically center a div */
div.vertical-container {width: 100%; height: 100%; display: table;}
div.vertical-wrapper {display: table-cell; vertical-align: middle;}


/* ---------- Coloring ------------ */
.rose-bkgrd {background-color: #601b09;}
.navy-bkgrd {background-color: #111122;}
.black-bkgrd {background-color: #232323;}

.rose-text {color: #A5435C;}
.navy-text {color: #111122;}




.center-text {
	text-align: center;
}



/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    display: none;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    background-color: #f9f9f9;
    /* Type */
    font-size: 1.200em;
}

/* ---- Specific Section Titles ----- */
#creative-link {color:#E49450;}
#creative-link.active, #creative-link:hover {color: #f7f7f7; background-color: #F4A460;}

#italy-link {color: #A5435C;}
#italy-link.active, #italy-link:hover {color: #f7f7f7; background-color: #A5435C;}

#portfolio-link {color: #009ACD;}
#portfolio-link.active, #portfolio-link:hover {color: #f7f7f7; background-color: #009ACD;}

#about-link {color: #28AE7B;}
#about-link.active, #about-link:hover {color: #f7f7f7; background-color: #28AE7B;}

 
.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration: none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding: 10px 5px;
    display: none;
    background-color: #fff;
}
#accordion-1 {
	background-color: #FCE6C9; /* eggshell */
}
#accordion-2 {
	background-color: #ffe9ec; /* rose pink */
}
#accordion-3 {
	background-color: #e6f3f7; /* light blue */
}
#accordion-4 {
	display: block;
	background-color: #e5f8e5; /* seafoam green */
}

/* Each accordion drop down */
section.my-information {
	width: 100%;
	margin: 0;
	padding: 0;
}


div.row {
	margin: 0;
}


/* ----------- MY-INFORMATION, DANCE-SNIPPET ---------- */
section.my-information div.dance-snippet {
	padding: 10px 0;
}
section.my-information div.dance-snippet figure figcaption h5,
section.my-information div.dance-snippet figure figcaption p,
section.my-information div.dance-snippet figure figcaption h5 span.yellow-hover,
section.my-information div.dance-snippet figure img {
	-webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    transition: all linear .2s;
 }
section.my-information div.dance-snippet figure {
	position: relative;
	width: 300px;
	margin: auto;
	text-align: center;
}
section.my-information div.dance-snippet figure:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
}
section.my-information div.dance-snippet figure:hover figcaption h5 {
	-moz-transform: translate3d(0, 15%, 0);
  	-ms-transform: translate3d(0, 15%, 0);
  	-webkit-transform: translate3d(0, 15%, 0);
  	transform: translate3d(0, 15%, 0);
}
section.my-information div.dance-snippet figure:hover figcaption h5 span.yellow-hover {
  	color: #FFDDAA;
}
section.my-information div.dance-snippet figure:hover figcaption p {
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-transform: translate3d(0, -40%, 0);
  	-ms-transform: translate3d(0, -40%, 0);
  	-webkit-transform: translate3d(0, -40%, 0);
  	transform: translate3d(0, -40%, 0);
}
section.my-information div.dance-snippet figure a {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 5;
	font-size: 1em;
}
section.my-information div.dance-snippet figure img {
	border-radius: 2px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
section.my-information div.dance-snippet figure figcaption {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
section.my-information div.dance-snippet figure figcaption h5 {
	line-height: 3em;
	position: relative;
	top: 45px;
	font-size: 1.2em;
}
section.my-information div.dance-snippet figure figcaption h5 span.rly-strong {
	font-weight: 600;
}
section.my-information div.dance-snippet figure figcaption p {
	opacity: 0;
	filter: alpha(opacity=0);
	position: relative;
	top: 110px;
	font-size: 0.8em;
}




/* --------- About me description ---------- */
section.my-information div#about {
	padding-top: 20px;
}
section.my-information div#about img {
	padding: 20px;
	border: 1px solid #9a9a9a;
	border-radius: 8px;
	margin: auto;
}
div#accordion-4 section.my-information div#about-description {
	padding: 30px 0;
	max-width: 310px;
	margin: auto;
}
div#accordion-4 section.my-information {
	max-width: 550px;
	margin: auto;
}



/* --------- Portfolio Piece ---------- */
section.my-information div.project figcaption {
	font-size: 0.9em;
}
div.project {
	padding: 15px 0 35px 0;
	position: relative;
}
div.project figure img {
	border-radius: 1px;
}


/* --------- Italy ----------- */
div#accordion-2 section.my-information {
	max-width: 550px;
	margin: auto;
}


/* ===================
 *    MEDIA QUERIES
 * ===================
 */

/* Small devices */
@media (min-width: 768px) {
	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size: 1.7em;
	}
	p#enter-text {
		font-size: 3.5em;
	}
	section.my-information div.dance-snippet figure figcaption h5 {
		line-height: 4em;
	}
	section.my-information div.dance-snippet figure figcaption p {
		top: 100px;
	}

}

/* Medium devices */
@media (min-width: 992px) {
	h1 {
		font-size: 3em;
	}
	div#accordion-4 section.my-information {
		max-width: 475px;
	}
	section.my-information div#about div#about-title {
		position: relative;
		bottom: -40px;
	}
	div#accordion-4 section.my-information div#about-description {
		max-width: 475px;
	}
}

/* Large devices */
@media (min-width: 1200px) {
	
	
}

